#principal_main.section.scrollspyTitle.title_sub
  .container
    .row
      .col.l6.m5.s8.offset-s2.center-align
        = image_tag("logo.png", class: "responsive-img", style: "max-width: 80%;padding-top: 30px")
      %blockquote.col.l6.m7.s12.left-align
        %h1#hero_title{:style => "color:white"}
          %strong.bold ¡Bienvenido!,
          %span.light genera ahora tu equipo de trabajo
        %a.btn.btn-large.waves-effect.waves-light{:href => "#intro"} Ver más...
.container
  #intro.section.scrollspy
    .row{:style => "margin-bottom: 0px;"}
      .col.s12.m6.l6
        .icon-block
          %h2.center.light-blue-text
            %i.material-icons.large device_hub
          %h5.center Psico-social
          %p.flow-text{:align => "justify"} Modelo basado en dos aspectos fundamentales: el psicológico y el social. Con el aspecto psicológico se trata de conocer el tipo de personalidad de cada individuo con el fin de comprender su comportamiento y su forma de actuar ante distintos contextos de trabajo. Por otro lado, con respecto al aspecto social, se trata de develar la estructura del grupo y su relación con su entorno.
      .col.s12.m6.l6
        .icon-block
          %h2.center.light-blue-text
            %i.material-icons.large group
          %h5.center Proposito
          %p.flow-text{:align => "justify"}
            Apoyar el proceso de selección de
            %strong.bold equipos de trabajo
            para la asignatura de Fundamentos de Computación y Programación, considerando factores interpersonales y personales apoyados por un sistema de clasificación de personalidad.
  %br/
  %br/
  %br/
  %br/
  %br/
  %br/
